<div>
    <h2 id="page-heading">
        <span jhiTranslate="testjioApplicationApp.fileSystem.home.title">File Systems</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-file-system" [routerLink]="['/file-system/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testjioApplicationApp.fileSystem.home.createLabel">
            Create a new File System
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fileSystems?.length === 0">
        <span jhiTranslate="testjioApplicationApp.fileSystem.home.notFound">No fileSystems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fileSystems && fileSystems.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.ext">Ext</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.url">Url</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.dynamicDataEnvelope">Dynamic Data Envelope</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.auditInfo">Audit Info</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.discrim">Discrim</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.fileSystem.envelope">Envelope</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fileSystem of fileSystems ;trackBy: trackId">
                    <td><a [routerLink]="['/file-system', fileSystem.id, 'view']">{{ fileSystem.id }}</a></td>
                    <td>{{ fileSystem.name }}</td>
                    <td>
                        <a *ngIf="fileSystem.data" (click)="openFile(fileSystem.dataContentType, fileSystem.data)" jhiTranslate="entity.action.open">open</a>
                        <span *ngIf="fileSystem.data">{{ fileSystem.dataContentType }}, {{ byteSize(fileSystem.data) }}</span>
                    </td>
                    <td>{{ fileSystem.ext }}</td>
                    <td>{{ fileSystem.url }}</td>
                    <td>
                        <div *ngIf="fileSystem.dynamicDataEnvelope">
                            <a [routerLink]="['/dynamic-data-envelope', fileSystem.dynamicDataEnvelope?.id, 'view']" >{{ fileSystem.dynamicDataEnvelope?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fileSystem.auditInfo">
                            <a [routerLink]="['/audit-info', fileSystem.auditInfo?.id, 'view']" >{{ fileSystem.auditInfo?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fileSystem.discrim">
                            <a [routerLink]="['/discrim', fileSystem.discrim?.id, 'view']" >{{ fileSystem.discrim?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="fileSystem.envelope">
                            <a [routerLink]="['/envelope', fileSystem.envelope?.id, 'view']" >{{ fileSystem.envelope?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/file-system', fileSystem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/file-system', fileSystem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fileSystem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
