<div>
    <h2 id="page-heading">
        <span jhiTranslate="testjioApplicationApp.dynamicDataEnvelope.home.title">Dynamic Data Envelopes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dynamic-data-envelope" [routerLink]="['/dynamic-data-envelope/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="testjioApplicationApp.dynamicDataEnvelope.home.createLabel">
            Create a new Dynamic Data Envelope
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="dynamicDataEnvelopes?.length === 0">
        <span jhiTranslate="testjioApplicationApp.dynamicDataEnvelope.home.notFound">No dynamicDataEnvelopes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="dynamicDataEnvelopes && dynamicDataEnvelopes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.dynamicDataEnvelope.desc">Desc</span></th>
                    <th scope="col" ><span jhiTranslate="testjioApplicationApp.dynamicDataEnvelope.auditInfo">Audit Info</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dynamicDataEnvelope of dynamicDataEnvelopes ;trackBy: trackId">
                    <td><a [routerLink]="['/dynamic-data-envelope', dynamicDataEnvelope.id, 'view']">{{ dynamicDataEnvelope.id }}</a></td>
                    <td>{{ dynamicDataEnvelope.desc }}</td>
                    <td>
                        <div *ngIf="dynamicDataEnvelope.auditInfo">
                            <a [routerLink]="['/audit-info', dynamicDataEnvelope.auditInfo?.id, 'view']" >{{ dynamicDataEnvelope.auditInfo?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/dynamic-data-envelope', dynamicDataEnvelope.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/dynamic-data-envelope', dynamicDataEnvelope.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(dynamicDataEnvelope)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
